---
title: Chi siamo
permalink: /chi-siamo/
---

<p>
La Fondazione Ba.Co., Ente Filantropico del Terzo Settore, nasce con l’obiettivo di <strong>aumentare
	gli spazi</strong> per attività di educazione per i bambini, ragazzi e giovani adulti.
Vogliamo favorire e sostenere l’educazione e la formazione tramite la metodologia scout
dell'«imparare facendo», attraverso <strong>attività all'aria aperta</strong> e in gruppi.
</p>

<p>
Lo <a href="{{ relative_root }}/file/statuto-fondazione-baco-08-03.pdf">statuto</a>
della fondazione Ba.Co. è scaricabile in formato PDF.
</p>

<div class="horiz-menu">
<ul style="display: none;">
<li><a href="#organi">Organi istituzionali</a></li>
<li><a href="#gruppi">I gruppi coinvolti</a></li>
</ul>

<article id="organi" class="active">
	<header>
	<h2>Organi istituzionali</h2>
	</header>
	{% markdown_relative _chi-siamo/organi.md %}
</article>

<article id="gruppi" class="active">
	<header>
	<h2>I gruppi coinvolti</h2>
	</header>
	{% include_relative _chi-siamo/gruppi.html %}
</article>

</div>

<script>
function animateOnClick(jqThis, slide) {
   $('.horiz-menu li').removeClass('active');
   jqThis.parent().addClass('active');
   if (slide) {
     $('.horiz-menu article').slideUp();
     $(jqThis.attr('href')).slideDown();
   } else {
     $('.horiz-menu article').removeClass('active');
     $(jqThis.attr('href')).addClass('active');
   }
}

$('.horiz-menu > ul').show();
$('.horiz-menu > article > header').hide();
$('.horiz-menu > ul a').click(function() {
   jqThis = $(this);
   if (!jqThis.parent().hasClass('active')) {
     window.location.hash = jqThis.attr('href');
     animateOnClick(jqThis, true);
   }
   return false;
});

(function() {
  if (window.location.hash) {
    hash = window.location.hash.replace('#', '');
    elem = $('.horiz-menu article').filter(function() { return hash == this.id; });
  } else {
    elem = $('.horiz-menu article').first();
  }
  animateOnClick($('a[href="#'+elem.attr('id')+'"]', false));
})();
</script>
