---
title: Dove siamo - Base scout Colombara
layout: home
---
{% include relative_root.html %}

<h2 class="centrato">Dove siamo</h2>

<!-- https://osm.quelltextlich.at/viewer-js.html?kml_url=https%3A%2F%2Fwww.basecolombarasaronno.org%2Fassets%2Fkml%2Fpercorso.kml&kml_attribution_url=http%3A%2F%2Fwww.basecolombarasaronno.org%2F&kml_attribution=Ba.Co.&zoom=17&lat=45.6118&lon=9.048 -->
<div class="row">
<div class="7u -1u flush">
	<div style="overflow:hidden;width:100%;height:500px;"><div
		id="embed-map-display"
		style="height:100%; width:100%;max-width:100%;"><iframe
			style="height:100%;width:100%;border:0;"
			frameborder="0"
			src="{{ relative_root }}/map?zoom=16&lat=45.612&long=9.048&kml=percorso&maptype=hybrid"></iframe>
		</div>
	</div>
</div>
<div class="3u">
	    <p>La base scout Colombara si trova presso la frazione Cascina Colombara del comune di Saronno.</p>
	    <p>La Stazione di Saronno Sud di TRENORD è situata a 600&nbsp;m dalla base ed è servita dalle linee S1, S3 e S9.
	      La mappa a fianco mostra il percorso consigliato dalla stazione alla base.</p>
</div>
</div>
<br><br>

<h2 class="centrato">Dove parcheggiare</h2>

<!-- https://osm.quelltextlich.at/viewer-js.html?kml_url=https%3A%2F%2Fwww.basecolombarasaronno.org%2Fassets%2Fkml%2Fparcheggi.kml&kml_attribution_url=http%3A%2F%2Fwww.basecolombarasaronno.org%2F&kml_attribution=Ba.Co.&zoom=18&lat=45.6123&lon=9.050 -->
<div class="row">
<div class="7u -1u flush">
	<div style="overflow:hidden;width:100%;height:500px;"><div
		id="embed-map-display"
		style="height:100%; width:100%;max-width:100%;"><iframe
			style="height:100%;width:100%;border:0;"
			frameborder="0"
			src="{{ relative_root }}/map?zoom=18&lat=45.6123&long=9.050&kml=parcheggi&maptype=hybrid"></iframe>
		</div>
	</div>
</div>
<div class="3u">
	    <p>La base scout Colombara si trova all'interno del parco Lura. Si può arrivare in auto solo
	      per trasportare materiale. Consigliamo di utilizzare i parcheggi in via Don Luigi Sturzo 
	      e via Boccaccio e raggiungere la base a piedi.</p>

</div>
</div>
<br><br>
