---
title: Base scout Colombara
layout: home
---
{% include relative_root.html %}

<div class="row">
<div class="7u -1u flush">
	<iframe class="youtube" src="https://www.youtube.com/embed/T2IfSwC2UxU" title="Base scout" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="3u">
        <section>
                <header>
			<h2><a href="news/">Prossimi&nbsp;eventi</a></h2>
                </header>
{% assign eventi = 0 %}
{% capture now %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
{% for post in site.posts offset: 0 limit: 10 %}
	{% if post.data_evento %}
	{% capture data %}{{ post.data_evento | date: "%Y-%m-%d" }}{% endcapture %}
	{% if data >= now %}
                <ul class="no-bullet">
		{% assign eventi = eventi | plus: 1 %}
		{% if eventi < 4 %}
                        <li>
				<div><a href="{{ relative_root }}{{ post.url }}">{{ post.title }}</a></div>
				{% if post.lancio %}{{ post.lancio | markdown }}{% endif %}
				<div><span class="posted">{{ data | localize: '%d %b %Y' }}</span></div>
                        </li>
		{% endif %}
	{% endif %}
	{% endif %}
{% endfor %}
		{% if eventi == 0 %}
		<p>Attualmente non ci sono eventi in programma. Per rimanere aggiornati,
		potete iscrivervi alla nostra <a href="https://www.facebook.com/profile.php?id=100091282594779">pagina Facebook</a>
		</ul>
		{% endif %}
        </section>

{% assign notizie = 0 %}
{% for post in site.posts offset: 0 limit: 10 %}
	{% if post.data_evento %}
	{% capture data %}{{ post.data_evento | date: "%Y-%m-%d" }}{% endcapture %}
	{% else %}
	{% capture data %}1900-01-01{% endcapture %}
	{% endif %}
	{% if data < now %}
		{% assign notizie = notizie | plus: 1 %}
		{% if notizie == 1 %}
        <section>
                <header>
			<h2><a href="news/">Ultime&nbsp;notizie</a></h2>
                </header>
                <ul class="no-bullet">
		{% endif %}
		{% if notizie < 4 %}
                        <li>
				<div><a href="{{ relative_root }}{{ post.url }}">{{ post.title }}</a></div>
				{% if post.lancio %}{% if post.data_evento %}{% else %}{{ post.lancio | markdown }}{% endif %}{% endif %}
				<div><span class="posted">{{ post.date | localize: '%d %b %Y' }}</span></div>
                        </li>
		{% endif %}
	{% endif %}
{% endfor %}
{% if notizie > 0 %}
        </section>
{% endif %}

</div>
</div>

<h2 class="centrato">Dove siamo</h2>

<div class="row">
<div class="7u -1u flush">
	<div style="overflow:hidden;width:100%;height:500px;"><div
		id="embed-map-display"
		style="height:100%; width:100%;max-width:100%;"><iframe
			style="height:100%;width:100%;border:0;"
			frameborder="0"
			src="https://www.google.com/maps/embed/v1/view?zoom=16&center=45.6111,9.0509&maptype=satellite&key=AIzaSyBwVcEZPva2CAbeEEfiqY5iDMfqi84tHSQ"></iframe>
		</div>
	</div>
</div>
<div class="3u">
	    <p>La base scout Colombara si trova presso la frazione Cascina Colombara del comune di Saronno.</p>
	    <p>La Stazione di Saronno Sud di TRENORD è situata a 600&nbsp;m dalla base ed è servita dalle linee S1, S3 e S9.</p>
	    <p><a href="dove-siamo/">Clicca qui</a> per maggiori informazioni su come arrivare.</p>
</div>
</div>
<br><br>
