---
layout: vuoto
---
{% include relative_root.html %}
<html>
  <head>
    <title>Mappa</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{{ relative_root }}/assets/css/map.css" />
    <script>
      window.initMap = function() {
      const urlParams = new URLSearchParams(window.location.search);
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: parseInt(urlParams.get('zoom')),
        center: {
          lat: parseFloat(urlParams.get('lat')),
          lng: parseFloat(urlParams.get('long'))
        },
        // mapTypeId: urlParams.get('maptype')
      });
      urlOk = false;
      if (urlParams.get('kml') == "parcheggi") {
        new google.maps.KmlLayer({
          url: "https://www.basecolombarasaronno.org/assets/kml/parcheggi.kml",
          map: map,
        });
      }
      if (urlParams.get('kml') == "percorso") {
        new google.maps.KmlLayer({
          url: "https://www.basecolombarasaronno.org/assets/kml/percorso.kml?v=5",
          map: map,
        });
      }
    }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwVcEZPva2CAbeEEfiqY5iDMfqi84tHSQ&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
