---
title: Il progetto Ba.Co. - Base scout Colombara
permalink: /progetto/
stylesheet: infografica
layout: home
---
{% include relative_root.html %}

<div id="grafica">
<header>
	<a id="scroll" href="#primo"><img src="{{ relative_root }}/assets/images/scroll.png"></a>
<script>
$("#scroll").on("click", function() {
	let posY = document.getElementById("primo").offsetTop;
	$("html").animate({ scrollTop: posY - document.getElementById('header').offsetTop - 20});
	return false;
})
</script>
</header>


<!--
<section id="primo" class="cappellino">
	<blockquote class="row">
		<div class="7u">
		I bambini che trascorrono tempo a contatto con la natura
		sono meno stressati e generalmente più sani
		</div>
		<br><small>&mdash;&nbsp;<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0207057" target="_blank">Tanja Sobko et al., PLoS One 13(11), 2018</a></small>
	</blockquote>
	<ul>
		<li>maggiore socievolezza</li>
		<li>minori livelli di stress e iperattività</li>
		<li>basse probabilità di sviluppare problemi comportamentali</li>
	</ul>
</section>
-->

<section id="primo" class="fazzolettone">
	<h2 class="centrato" >I nostri obiettivi</h2>
	<ul>
		<li>aiutare giovani e ragazzi ad avere una <strong>visione progettuale</strong> a lungo periodo</li>
		<li>facilitare <strong>incontri e relazioni positive e costruttive</strong></li>
		<li>incoraggiare i ragazzi a diventare <strong>cittadini attivi</strong></li>
		<li>permettere di <strong>vivere la natura</strong> tramite <strong>spazi all’aperto</strong> naturali e incontaminati</li>
		<li><i>
		i bambini che trascorrono tempo a contatto con la natura
		sono meno stressati e generalmente più sani</i></li>
	</ul>
</section>

<section class="fiore">
	<h2 class="centrato" >Protagonisti attivi e custodi dell'ambiente</h2>
	<ul>
		<li>uno spazio di cui <strong>prendersi cura nel tempo</strong></li>
		<li>uno spazio <strong>da difendere</strong> per lasciare il mondo un po' migliore di come lo si è trovato</li>
		<li>uno spazio in cui <strong>vivere insieme nello spirito di fratellanza</strong></li>
	</ul>
</section>

<section class="tenda">
	<h2 class="centrato" >Uno spazio per tutti a un passo dalla città</h2>
	<ul>
		<li><strong>idoneo per l’incontro e l’educazione di gruppo</strong></li>
		<li><strong>accogliente e attrezzato</strong> per esigenze diverse</li>
		<li><strong>accessibile</strong> grazie alla sua vicinanza alla stazione di Saronno Sud</li>
	</ul>
</section>

<section class="pino">
	<h2 class="centrato" >A chi ci rivolgiamo</h2>
	<ul>
		<li>gruppi scout</li>
		<li>comuni di Saronno e Caronno Pertusella</li>
		<li>scuole e altri enti con scopo educativo o formativo</li>
		<li>associazioni giovanili</li>
		<li>aziende (team building, corsi di formazione)</li>
<!--		<li>associazioni ambientaliste</li> -->
		<li>associazioni sportive</li>
		<li>oratori e gruppi religiosi</li>
	</ul>
</section>
</div>
