---
title: Trasparenza
permalink: /trasparenza/
layout: page
---
	<section>
		<p>In questa sezione pubblichiamo i bilanci della fondazione e altri documenti ufficiali.</p>

		<dl>
		{% assign data_prec = "" %}
		{% for file in site.data.trasparenza reversed %}
		{% if file.data != data_prec %}
		{% assign data_prec = file.data %}
		<dt><strong>{{ file.data }}</strong></dt>
		{% endif %}
		<dd><a href="{{ relative_root }}/file/{{ file.file }}">{{ file.testo }}</a></dd>
		{% endfor %}
		</dl>
	</section>
	</div>

	<div class="sidebar">
	<h1>Statuto</h1>
	<section>
	Lo <a href="{{ relative_root }}/file/statuto-fondazione-baco-08-03.pdf">statuto</a>
	della fondazione Ba.Co. è scaricabile in formato PDF.
	</section>

