<div class="row flush">
	<picture style="display: block; float: left; width: max(16%, 195px); object-fit: contain">
		<img src="../assets/images/Loghi_gruppi/LOGO TRACCIA.webp"
		   title="Associazione La Traccia"
		   alt="Associazione La Traccia">
	</picture>
	<a href="https://gruppi.agesci.it/saronno1/"><picture style="display: block; float: left; width: max(20%, 180px); object-fit: contain">
		<source media="(min-resolution: 130dpi)" srcset="../assets/images/Loghi_gruppi/LogoSaronno-grande.png">
		<img src="../assets/images/Loghi_gruppi/LogoSaronno-piccolo.png"
		   title="Gruppo Scout AGESCI Saronno 1"
		   alt="Gruppo Scout AGESCI Saronno 1">
		</picture></a>
	<a href="http://garbagnate1.altervista.org/"><picture style="display: block; float: left; width: max(20%, 180px); object-fit: contain">
		<source media="(min-resolution: 130dpi)" srcset="../assets/images/Loghi_gruppi/LogoGarbagnate1-grande.png">
		<img src="../assets/images/Loghi_gruppi/LogoGarbagnate1-piccolo.png"
		   title="Gruppo Scout AGESCI Garbagnate 1"
		   alt="Gruppo Scout AGESCI Garbagnate 1">
		</picture></a>
	<a href="http://scoutarese1.altervista.org/"><picture style="display: block; float: left; width: max(20%, 180px); object-fit: contain">
		<source media="(min-resolution: 130dpi)" srcset="../assets/images/Loghi_gruppi/LogoArese1-grande.png">
		<img src="../assets/images/Loghi_gruppi/LogoArese1-piccolo.png"
		   title="Gruppo Scout AGESCI Arese 1"
		   alt="Gruppo Scout AGESCI Arese 1">
		</picture></a>
	<a href="https://www.instagram.com/scoutbaranzate/"><picture style="display: block; float: left; width: max(20%, 180px); object-fit: contain">
		<source media="(min-resolution: 130dpi)" srcset="../assets/images/Loghi_gruppi/LogoBaranzate1-grande.png">
		<img src="../assets/images/Loghi_gruppi/LogoBaranzate1-piccolo.png"
		   title="Gruppo Scout AGESCI Baranzate 1"
		   alt="Gruppo Scout AGESCI Baranzate 1">
		</picture></a>
</div>
