---
title: News
layout: blog
---
{% include relative_root.html %}
<!-- Main -->
	{% for post in site.posts offset: 0 limit: 4 %}
	<section>
		<header>
			<h1><a href="{{ relative_root }}{{ post.url }}">{{ post.title }}</a></h1>
			<div class="posted">{{ post.date | localize: '%d %B %Y' }}{%
			if post.last_modified_at %} (aggiornato {{ post.last_modified_at | localize: '%d %B %Y' }}) {%
			endif %}{% if post.author %} &mdash; {{ post.author }}{% endif %}</div>
		</header>
		{% if forloop.first %}
			{{ post.content }}
			<ul class="category">
			{% for category in post.categories %}
			<li><span class="fa fa-folder"></span>{% categorylink category %}{{ category }}{% endcategorylink %}</li>
			{% endfor %}
			</ul>
		{% else %}
			{{ post.excerpt }}
			<a href="{{ relative_root }}{{ post.url }}">Leggi...</a>
		{% endif %}
	</section>
	{% endfor %}
