<!--
 Derived from the Linear template by TEMPLATED.  Licensed under
 the Creative Commons Attribution 3.0 Unported license
 (https://creativecommons.org/licenses/by/3.0/).
-->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:300,400%7cRoboto:300,500,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/font.css" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ relative_root }}/assets/favicons/apple-touch-icon.png">
	<link media="(prefers-color-scheme: light)" rel="icon" type="image/png" sizes="32x32" href="{{ relative_root }}/assets/favicons/favicon-light.png">
	<link media="(prefers-color-scheme: dark)" rel="icon" type="image/png" sizes="32x32" href="{{ relative_root }}/assets/favicons/favicon-dark.png">
	<link rel="manifest" href="{{ relative_root }}/assets/favicons/manifest.json">

	<link rel="stylesheet" href="{{ relative_root }}/assets/css/normalize.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style.css?v=6" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style-mobile.css?v=2" media="(max-width:699px)"/>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style-desktop.css?v=2" media="(min-width:700px)" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/grid-small.css" media="(max-width:1023px)"/>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/grid-large.css" media="(min-width:1024px)" />
	<link rel="alternate" title="News Ba.Co." href="{{ relative_root }}/feed.xml" type="application/atom+xml" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	{% if page.stylesheet %}
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/{{ page.stylesheet }}.css" />
	{% endif %}
	{% if page.colorbox %}
	<script src="{{ relative_root }}/assets/js/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/colorbox.css" />
	{% endif %}

<script>
$(window).on("scroll", function() {
         isScroll = window.scrollY < 200;
         jqBody = $('body');
         if (isScroll && jqBody.hasClass('fixed'))
                 jqBody.removeClass('fixed')
         else if (!isScroll && !jqBody.hasClass('fixed'))
                 jqBody.addClass('fixed')
});
</script>
