<div id="footer">
	<header><strong>Fondazione Ba.Co.</strong> Base Scout Colombara ETS</header>
	CF. 94032260120<br>
	Fondazione iscritta al RUNTS con n&deg; 108160, det. 769 del 18/4/2023<br>
	Sede legale: 21047 Saronno, via Pozzo 34/a<br>
	Email: <a href="mailto:info@basecolombarasaronno.org">info@basecolombarasaronno.org</a> |
	PEC: <a href="mailto:fondazionebaco@legalmail.it">fondazionebaco@legalmail.it</a>
</div>

	<div id="banner">
		<div class="button"><a href="{{ relative_root }}/donazioni">Dona ora</a></div>
		<h2>Sostieni il nostro progetto</h2>
	</div>

{% if page.colorbox %}
<script>
window.hasColorBox = false;
$(window).on("load", function() {
    $('.colorbox').colorbox({
        'rel': '.colorbox',
        'maxWidth': '80%',
        'maxHeight': '80%',
        'title': function() { return $(this).attr("title"); },
        'current': 'foto {current} di {total}',
        'previous': 'precedente',
        'next': 'successiva',
        'close': 'chiudi',
    });
    window.hasColorBox = true;
});
// make links to images inactive, except through the colorbox
$('.colorbox').on("click.random-namespace", function() {
    return window.hasColorBox;
})
</script>
{% endif %}
