	<div id="header">
		<h1><a href="{{ relative_root }}">
		   <span>Base scout Colombara</span>
		   <span>Spazio per crescere</span>
		</a></h1>
	</div>
	
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			</li><li {% if current[1] == 'dove-siamo' %}class='current'{% endif %}><a href="{{ relative_root }}/dove-siamo">Dove siamo</a>
			</li><li {% if current[1] == 'chi-siamo' %}class='current'{% endif %}><a href="{{ relative_root }}/chi-siamo">Chi siamo</a>
			</li><li {% if current[1] == 'progetto' %}class='current'{% endif %}><a href="{{ relative_root }}/progetto">Progetto</a>
<!--			</li><li {% if current[1] == 'sponsor' %}class='current'{% endif %}><a href="{{ relative_root }}/sponsor">Sponsor</a>
-->
			</li><li {% if current[1] == 'donazioni' %}class='current'{% endif %}><a href="{{ relative_root }}/donazioni">Donazioni</a>
<!--			</li><li {% if current[1] == 'trasparenza' %}class='current'{% endif %}><a href="{{ relative_root }}/trasparenza">Trasparenza</a></li>
-->
			</li><li {% if current[1] == 'news' %}class='current'{% endif %}><a href="{{ relative_root }}/news">News</a></li>
		</ul>
	</nav>

<script>
$('body').addClass('js');
$('#nav').hide().before('<div id="titleBar"><div><button role="button" aria-pressed="false" aria-controls="nav" aria-label="Toggle navigation bar"><span class="fa fa-lg fa-bars"></span></button></div></div>');
$('button[aria-controls="nav"]').click(function() {
	jqNav = $('#nav');
	if ($(this).attr('aria-pressed') == 'true') {
		$(this).attr('aria-pressed', false);
		$('#nav, #titleBar>div').animate(
			{ 'margin-left': '-=80%' },
			{ 'duration': 400 });
		jqNav.promise().done(function() { jqNav.hide().css('margin-left', 0); });
	} else {
		$(this).attr('aria-pressed', true);
		jqNav.css('margin-left', '-80%').show();
		$('#nav, #titleBar>div').animate(
			{ 'margin-left': '+=80%' },
			{ 'duration': 400 });
	}
});
</script>
