
<!-- Sidebar -->
<div class="sidebar">
	<section>
		<header>
			<h1>Ultime&nbsp;notizie</h1>
		</header>
		<ul class="no-bullet">
		{% for post in site.posts offset: 0 limit: 4 %}
			<li>
				<a href="{{ relative_root }}{{ post.url }}">{{ post.title }}</a><br/>
				<span class="posted">{{ post.date | localize: '%d %b %Y' }}</span>
			</li>
		{% endfor %}
		</ul>
	</section>


	<section>
		<header>
			<h1>Archivio</h1>
		</header>
		<ul class="no-bullet">
		{% assign counter = 0 %}
		{% assign thisurl = "" %}
		{% assign thisdate = "" %}
		{% for post in site.posts %}
		{% assign prevurl = thisurl %}
		{% assign prevdate = thisdate %}
		{% assign thisurl = post.date | date: "%Y/%m" %}
		{% assign thisdate = post.date | localize: "%B %Y" %}
		{% if thisurl != prevurl and prevurl != "" %}
		<li><a href="{{ relative_root }}/news/{{ prevurl }}/">{{ prevdate }} ({{ counter }})</a></li>
		{% assign counter = 0 %}
		{% endif %}
		{% assign counter = counter | plus: 1 %}
		{% endfor %}
		<li><a href="{{ relative_root }}/news/{{ thisurl }}/">{{ thisdate }} ({{ counter }})</a></li>
		</ul>
	</section>
</div>
