@font-face {
  font-family: 'Ramona';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Ramona-Light.woff2) format('woff2'),
       url(../font/Ramona-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Ramona';
  font-style: normal;
  font-weight: 600;
  src: url(../font/Ramona-Bold.woff2) format('woff2'),
       url(../font/Ramona-Bold.ttf) format('truetype');
}

