@charset 'UTF-8';

/*
 * Derived from the Linear template by TEMPLATED.  Licensed under
 * the Creative Commons Attribution 3.0 Unported license
 * (https://creativecommons.org/licenses/by/3.0/).
 */

/*********************************************************************************/
/* Box Model                                                                     */
/*********************************************************************************/

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body {
		margin: 0;
		padding: 0;
		background-color: #ffffff;
		background-image: url(../images/sfondo.jpg);
		background-repeat: no-repeat;
		background-position: 0px 200px;
		background-attachment: scroll;
	}

	body.fixed {
		background-position: 0px 0px;
		background-attachment: fixed;
	}

	body,input,textarea,select {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 12pt;
		letter-spacing: 0;
		color: #000000;
	}

	a {
		color: #e18934;
	}

	strong,b {
		color: #446137;
	}

	strong,b,a {
		font-weight: 600;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 500;
		color: #446137;
	}

        .visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	pre,code,samp,tt {
		font-family: 'Roboto Mono', monospace;
	}

	h1 {
		margin: 0;
		letter-spacing: -0.025em;
		line-height: 1.15em;
	}

	h2 {
		font-size: 1.8em;
		letter-spacing: -0.025em;
		line-height: 1.15em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4, h5, h6 {
		font-size: 1.5em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		font-weight: inherit;
	}

	pre {
		padding: 1em;
		border: 1px #000000 solid;
		max-width: 100%;
		overflow-x: auto;
	}

	a {
		text-decoration: none;
		color: #df8835;
	}

	a:hover {
		text-decoration: underline;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #446137;
		margin: 2em 0 2em 0;
		padding: 0;
	}

	blockquote {
		border-left: solid 0.5em #446137;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	table {
		margin: 0em auto;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	li p {
		margin-top: 0.2em;
		margin-bottom: 0em;
	}

	header h1, header h2, header h3, header h4, header h5, header h6 {
		margin-bottom: 0em;
		color: #446137;
	}

	.posted {
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 80%;
		color: #446137;
	}

	.clear {
		clear: both;
	}

	/* Sections/Articles */

	section,
	article {
		clear: both;
		margin: 1em 0 2em 0;
	}

	section > :first-child,
	article > :first-child {
		margin-top: 0;
	}

	section:first-child,
	article:first-child {
		margin-top: 0;
	}

	section > :last-child,
	article > :last-child {
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	/* Images */

	img {
		max-width: 100%;
	}

	/* Lists */

	ul.no-bullet {
		margin-bottom: 0em;
		padding: 0;
	}

	ul.no-bullet li {
		margin: 0;
		padding: 0em 0em 1.5em 0em;
		list-style: none;
	}

	ul.category {
		margin: 0;
		padding: 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 80%;
		color: #446137;
	}

	ul.category li {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 1em;
	}
	ul.category li::before {
		padding-right: 0.3em;
	}


	/* Buttons */

	.button {
		background: #f1e5d5;
		font-size: 1.2em;
		color: #446137;
		text-align: center;
		border-radius: 0.25em;
	}

	.button a {
		padding: 0.8em 2em;
		color: inherit;
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

/*********************************************************************************/
/* Grid                                                                          */
/*********************************************************************************/

	/* Cells */

	.row > * {
		float: left;
		max-width: 100%;
	}

	/* Rows */

	.row:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row:first-child > * {
		padding-top: 0;
	}

	.row > * {
		padding-top: 0;
	}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

	.fa {
		text-decoration: none;
	}

	.fa:before {
		display:inline-block;
		font-family: FontAwesome;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		position: relative;
		background-color: #446137;
		background: -webkit-linear-gradient(top, #446137 0%,#3d5731 100%);
		background: linear-gradient(top, #446137 0%,#3d5731 100%);
		color: #f1e5d5;
	}

	#header:after {
		content: '';
		position: relative;
		width: 0;
		height: 6em;
		left: 0;
		top: 0;
		float: left;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#header > h1 {
		font-size: 1em;
		color: inherit;
	}

	#header a > :first-child {
		font-size: 1.2em;
		font-weight: 600;
	}

	#header a > span {
		font-family: Ramona, sans-serif;
		font-weight: 300;
		margin-top: 0.7em;
		margin-bottom: 0.3em;
		display: block;
		white-space: nowrap;
	}

	#header a {
		display: block;
		background-image: url(../images/logo-min.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	#header a:hover {
		text-decoration: none;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	.main {
		clear: left;
	}

	.main, .sidebar {
		padding: 0em 1em;
		margin: 0em 0em 1em 0em;
	}

	.sidebar header {
		margin-bottom: 0.50em;
	}

	h2.centrato {
		text-align: center;
	}

	.homepage h2 {
		font-size: 3em;
		margin-top: 0.3em;
	}

	@keyframes evidenzia {
		0% { background-color: rgba(241, 229, 213, 0); }
		55% { background-color: rgba(241, 229, 213, 0.8); }
		64% { background-color: rgba(241, 229, 213, 0.8); }
		65% { background-color: rgba(241, 229, 213, 0.4); }
		100% { background-color: #f1e5d5; }
	}

	.evidenzia {
		animation-name: evidenzia;
		animation-duration: 1s;
		animation-delay: 0.5s;
		animation-timing-function: linear;
		animation-fill-mode: both;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer::before {
		content: '';
		width: 25%;
		left: 37.5%;
		height: 3px;
		top: 0;
		position: absolute;
		border-top: 1px solid #446137;
	}

	#footer {
		margin-top: 2.5em;
		padding: 0.5em;
		text-align: center;
		position: relative;
		clear: both;
		padding-bottom: 7em;
	}

	#footer header {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0em;
		padding: 0em;
	}

	#footer strong {
		color: #446137;
		font-weight: 600;
	}

	#banner {
		padding-left: 1em;
		padding-right: 1em;
		background: #446137;
		color: #f1e5d5;
		position: fixed;
		bottom: 0px;
		width: 100%;
		box-shadow: 0px -9px 15px 0px rgba(241, 229, 213, 0.25);
	}

	#banner::after {
		content: '';
		clear: both;
	}

	#banner h2 {
		text-align: left;
		color: inherit;
		font-size: 1.8em;
		font-weight: 500;
		margin-top: 1.25em;
		margin-bottom: 0.75em;
	}

	#banner .button {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		float: right;
	}

	.iban > span + span::before {
		content: ' ';
	}
