/*
 * Derived from the Linear template by TEMPLATED.  Licensed under
 * the Creative Commons Attribution 3.0 Unported license
 * (https://creativecommons.org/licenses/by/3.0/).
 */

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.only-mobile, .not-desktop {
		display: none !important;
	}

	body,input,textarea,select {
		line-height: 1.75em;
	}

	h1 {
		font-size: 3em;
		letter-spacing: -0.05em;
	}

	header {
		margin-bottom: 2em;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#titleBar {
		display: none !important;
	}

	#nav {
		display: block !important;
		background: white;
		width: 100%;
	}

	#nav > ul {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#nav > ul > li {
		display: inline-block;
		margin: 0;
		padding: 0.5em 1em 0.5em 0em;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		font-size: 1.1em;
	}

	#nav > ul > li > a {
		text-decoration: none;
		color: #446137;
		display: block;
		padding: 3px 0.5em 7px 0.5em;
		position: relative;
	}

	#nav > ul > li > a::after {
		content: '';
		width: 50%;
		left: 25%;
		height: 3px;
		bottom: 0;
		position: absolute;
		border-bottom: 3px solid white;
	}

	#nav > ul > li:hover > a::after {
		border-bottom-color: #e18934;
	}

	#nav > ul > li.current > a::after {
		border-bottom-color: #446137;
	}

	#nav > ul > li:hover > a {
		color: #e18934;
	}

	#nav > ul > li.current > a {
		color: #446137;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		padding: 1em;
	}

	#header a {
		min-height: 3.5em;
		background-size: 3.5em;
		padding-left: 4.5em;
		padding-top: 0.8em;
		font-size: 2.4em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	.main, .sidebar {
		position: relative;
		float: left;
	}

	.main {
		width: 66.667%;
	}

	.sidebar {
		width: 30%;
		padding-left: 5%;
	}

	.sidebar h1 {
		font-size: 2.4em;
		letter-spacing: 0em;
		line-height: 1.2em;
		margin-top: -0.2em;
	}

/*********************************************************************************/
/* Horizontal menu                                                               */
/*********************************************************************************/
	.horiz-menu > ul {
		width: 100%;
		margin: 0;
		padding: 0;
		display: table;
		border-collapse: collapse;
	}

	.horiz-menu > ul > li {
		width: 25%;
		border: 1px solid #000000;
		display: table-cell;
		color: #df8835;
	}

	.horiz-menu > ul > li:hover {
		background: #f1e5d5;
		color: #df8835;
	}

	.horiz-menu > ul > li > a {
		display: block;
		padding: 1em;
		border-bottom: 5px transparent;
		white-space: nowrap;
		color: inherit;
	}

	.horiz-menu > ul > li > a:hover {
		text-decoration: none;
	}

	.horiz-menu > ul > li.active > a {
		border-bottom: 5px #446137 solid;
	}

	.horiz-menu > ul > li.active > a:hover {
		border-bottom: 5px #df8835 solid;
	}

	.horiz-menu > article {
		padding-top: 1em;
		margin: 0;
		display: none;
	}

	.horiz-menu > article.active {
		display: block;
	}

/* Colorbox customization */

	body #cboxTitle { height: 50px; bottom: 24px; color: #000000; text-align: left; }
	body #cboxMiddleLeft, body #cboxMiddleRight, body #cboxContent { padding-bottom: 50px; box-sizing: content-box; }
