---
layout: blog
---
<!-- Main -->
	<section>
		<header>
			<h1>{{ page.title }}</h1>
		</header>
		{% for post in page.posts %}
		<article>
			<header>
				<h2><a href="../../..{{ post.url }}">{{ post.title }}</a></h2>
				<div class="posted">{{ post.date | localize: '%d %B %Y' }}{%
				if post.last_modified_at %} (aggiornato {{ post.last_modified_at | localize: '%d %B %Y' }}) {%
				endif %}{% if post.author %} &mdash; {{ post.author }}{% endif %}</div>
			</header>
		{{ post.excerpt }}
		<a href="../../..{{ post.url }}">Leggi...</a>
		</article>
		{% endfor %}
	</section>
