<!DOCTYPE HTML>
{% include relative_root.html %}
<html lang="en">
<head>
	<title>{{ page.title }} - {{ site.title }}</title>
	{% include assets.html %}
</head>
<body>

	{% include nav.html %}
	<div class="main">
		{{ content }}
	</div>
	
	{% include sidebar.html %}
	{% include footer.html %}

</body>
</html>
