<!DOCTYPE HTML>
{% include relative_root.html %}
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	{% include assets.html %}
</head>
<body class="homepage">

	<!-- Header -->
	{% include nav.html %}

	{{ content }}

	{% include footer.html %}

</body>
</html>
