---
layout: blog
---
<!-- Main -->
	<section>
		<header>
			<h1>{{ page.title }}</h1>
			<div class="posted">{{ page.date | localize: "%d %B %Y" }}{%
				if page.last_modified_at %} (aggiornato {{ page.last_modified_at | localize: "%d %B %Y" }}) {%
				endif %}{% if page.author %} &mdash; {{ page.author }}{% endif %}</div>
		</header>
		{{ page.content }}
		<ul class="category">
		{% for category in page.categories %}
		<li><span class="fa fa-folder"></span>{% categorylink category %}{{ category }}{% endcategorylink %}</li>
		{% endfor %}
		</ul>
	</section>
